.projects {
  position: relative;
  padding-bottom: 2vmin;
  padding-top: 2vmin;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects h2 {
  color: #6272a4;
  font-size: 5vmin;
}

.projects hr {
  width: 50vw;
}

