.profile {
  position: relative;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.title {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #6272a4;  
}

.title h1 {
  font-size: 8.5vmin;
}

.title h3 {
  color: #777777;
  font-size: 3vmin;
}

.title hr {
  width: 50vw;
}

.bio {
  width: 50vw;
  display: flex;
  flex-flow: row;
  padding-top: 1.5vmin;
}

.about {
  width: 35%;
  padding-right: 1vmin;
}

.about h2 {
  color: #6272a4;  
  font-size: 3vmin;
}

.about p {
  font-size: 1.75vmin;
}

.photo {
  width: 35vmin;
  align-self: flex-start;
  padding-left: 1vw;
  padding-right: 1vw;
}

.photoBackground {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background-color: #6272a4;
  border-radius: 50%;
  width: 29vmin;
  height: 29vmin;
  z-index: -1;
}

.photo img {
  border-radius: 50%;
  width: 27vmin;
  height: 27vmin;
  z-index: 1;
}

.details {
  width: 30%;
  padding-left: 1.5vmin;
}

.details h2 {
  color: #6272a4;  
  font-size: 3vmin;
}

.details p {
  margin-bottom: 0px;
  font-size: 2vmin;
}