.institution {
  align-items: center;  
  display: flex;
  flex-direction: column;
  width: 30%;
}

.institution h3 {
  font-size: 3vw;
}

.institution p {
  font-size: 2vw;
}

.courseDetails {
  width: 70%;
}

.courseDetails h4 {
  font-size: 3vw;
}

.courseDetails p {
  font-size: 2vw;
}

@media only screen and (min-width: 768px) {
  .institution h3 {
    font-size: 1.5vw;
  }
  
  .institution p {
    font-size: 1vw;
  }
  
  .courseDetails h4 {
    font-size: 1.25vw;
  }
  
  .courseDetails p {
    font-size: 1vw;
  }
}