.footer {
  padding-bottom: 2vw;
  padding-top: 2vw;
  background-color: #282a36;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.footer h2 {
  color: #ffffff;
  font-size: 3vw;
}

.footer hr {
  width: 50vw;
  margin: auto;
  border: 0.25vw solid #ffffff;
  border-radius: 10%;

}

.contacts {
  padding-top: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts a {
  display: flex;
  flex-direction: row;
}

.contacts a:hover {
  text-decoration-color: #ffffff;
}

.icon {
  width: 1vw;
  height: 1vw;
  border-radius: 20%;
  background-color: #ffffff;
  margin-right: 0.2vw;
  text-align: center;
}

.icon svg {
  width: 1vw;
  height: 1vw;
}

.contacts p {
  color: #ffffff;
  font-size: 0.75vw;
}

.contact {
  margin-left: 1vw;
  margin-right: 1vw;
}
