.footer {
  height: 20vh;
  background-color: #282a36;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.footer h2 {
  margin-top: 2vmin;
  color: #ffffff;
  font-size: 5vmin;
}

.footer hr {
  width: 30vw;
  border: 1px solid white;
}

.contacts {
  width: 30vw;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.contacts a {
  display: flex;
  flex-direction: row;
}

.contacts a:hover {
  text-decoration-color: #ffffff;
}

.icon {
  width: 2.5vmin;
  height: 2.5vmin;
  border-radius: 20%;
  background-color: #ffffff;
  margin-right: 1vmin;
  text-align: center;
}

.icon svg {
  width: 2.5vmin;
  height: 2.5vmin;
}

.contacts p {
  color: #ffffff;
  font-size: 1.5vmin;
}
