.experience {
  position: relative;
  padding-bottom: 2vmin;
  padding-top: 2vmin;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience h2 {
  color: #6272a4;
  font-size: 5vmin;
}

.experience hr {
  width: 50vw;
}

.experience .list {
  padding-top: 1vmin;
}

.experience ul hr {
  width: 50vw;
  border-style: dashed;
  border-width: 1.2px;
}